@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  background-color: rgb(247, 249, 252);
  font-family: poppins, 'Helvetica', 'Arial', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  display: flex;
}

nav {
  height: 100%;
  width: 240px;
  background-color: #fff;
  position: sticky;
  top: 0;
}

nav .logo-container {
  padding: 16px;
  width: 100%;
  text-align: center;
}

nav .logo-container img {
  max-width: 150px;
  width: 100%;
}

main {
  height: 100%;
  flex: 1;
}
